@import "../../styles/index.scss";

.header{
    background-color: $bg-primary;
    padding: .75rem 2rem .75rem 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
};

.icon{
    height: 50px;
    width: 50px;
    object-fit: fill;
}

.logo_text{
    flex: 1;
    font-size: 2.5rem;
    font-family: $font-logo;
    color: $bg-color-primary;
    padding: 0;
    margin: 0 0 0 1rem;
}

.user_details{
    p{
        font-size: 1.25rem;
        color: $bg-contrast-primary;
    }
}

.nav-header{
    a{
        color: white;
        font-size: 1.25rem;
    }
    a.active{
        color: $bg-contrast-primary;
    }
    a:hover{
        color: $bg-contrast-primary-hv;
    }
}

    
   
